---
id: epic-test-persistent
type: info
dismissible: false
msg: |
  ### EPIC 集群使用入口

  通过顶部菜单启动 Interactive Apps、查看作业和管理文件。使用中遇到问题时，可以查阅[集群文档](https://loren5555.github.io/EPIC-Slurm-Cluster)或[提交问题](https://github.com/loren5555/EPIC-Slurm-Cluster/issues/new/choose)。
