---
id: 00-first-login
type: info
required: true
dismissible: true
button_text: 阅
msg: |
  ### 使用 EPIC 集群前请先阅读用户文档

  阅读 [EPIC 使用文档](https://loren5555.github.io/EPIC-Slurm-Cluster)，了解登录、提交任务、资源申请、排队规则、存储限额与常见问题。
