OOD_DATAROOT={{ ood_dashboard_dataroot }}
OOD_QUOTA_DIRECTORY={{ ood_quota_directory }}
OOD_QUOTA_THRESHOLD={{ ood_quota_threshold }}
OOD_QUOTA_STALE_SECONDS={{ ood_quota_stale_seconds }}
OOD_PROJECT_TEMPLATE_DIR={{ ood_configuration_directory }}/apps/dashboard/projects
