[Unit]
Description=Automount EPIC Open OnDemand shared session context
After=network-online.target

[Automount]
Where={{ ood_shared_root }}
TimeoutIdleSec={{ ood_automount_idle_seconds }}

[Install]
WantedBy=multi-user.target
