[Unit]
Description=Refresh EPIC filesystem quota report

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=epic-disk-quota-collector.service

[Install]
WantedBy=timers.target
